body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
nav{
    width: 100%;
    height: 15%;
    background-color: rgb(45, 153, 255);
    float: inline-start;
    position: fixed;
}
nav #logo{
    float: left;
    height: 80px;
    margin-top: 10px;
    margin-left: -19%;
    width: auto;
}
nav #bg{
    height: 95px;
    float: left;
    width: 20%;
    box-shadow: 3px 1px 2px 1px rgba(0, 0, 1, 0);
    
}
nav .gradien{
    height: 95px;
    float: left;
    width: 62px;
    margin-left: -4.6%;
    background-image: linear-gradient(to right, rgba(45, 153, 255, 0),rgb(45, 153, 255));
    
}
nav .logo h2{
    float: left;
    margin-left: -13%;
    margin-top: 2%;
}
nav .logout img {
    float: right;
    width: 35px;
    height: 35px;
    margin-top: 30px;
    margin-right: 20px;
}
.container {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
}
.login {
    background-color: #ffffff;
    padding: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 8%;
    margin-right: -10%;
    height: 300px;
    width: 280px;
    float: right;
}
.form{
    margin-top: -50px;
}
.form h1{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: left;
    text-shadow: 2px 2px 2px 0px rgba(0,0,0,0.8);
    padding: 10px;  
}
.form h5{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 8px;
}
.form button{
    padding: 8px;
    margin-top: 1rem;
    background-color: rgb(37, 37, 37);
    border-color: rgba(36, 36, 36, 0);
    color: whitesmoke;
    width: 100%;
    height: 2.5rem;
    font-size: 15px;
    border-radius: 7px;
    font-weight: bold;   
    box-shadow: black;
}
.form input {
    height:25px;
    width: 87%;
    margin-top: 3px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 5px;
    border-color: rgba(82, 82, 82, 0.74);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.8);
    padding: 10px;
   
}
.contens {
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.conten {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-bottom: 2rem;
    text-align: center;
}
.conten h2 {
    margin-top: 0;
}
footer{
    background-color: rgb(12, 12, 12);
    width: 100%;
    height: 70px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    float: inline-end;
}
footer strong{
    margin-left: 30px;
}
footer .footer-right{
    float: right;
    margin-right: 30px;
}

